---
---

body,
.tap-target-wave::before,
.tap-target-wave::after {
	background-color: #5166ab !important;
}

.light {
	opacity: .8;
}

table.bordered>thead>tr, table.bordered>tbody>tr {
	border-color: rgba(255,255,255,0.1);
}

.card-action {
	overflow: auto;
}